
<div class="container h-100">
    <div class="row h-100">
        <div class="col-4 mx-auto my-auto">
            <div class="card">
                <div class="card-body">
                  <h5 class="text-center">Simple Date Converter</h5>

                  <div class="mt-5">
                        <div class="form-group">
                                <label for="dateForm">Input RFC-3339 Formatted Date</label>
                                <input type="text" class="form-control" [(ngModel)]="pass_data.date" id="dateForm" placeholder="ex: 2016-07-11T12:34:56.12+07:00">
                        </div>
                                <button type="button" (click)="toResultPage()" class="mt-4 btn btn-secondary d-flex mx-auto">Convert Date</button>
                                <div *ngIf="feedback !== ''" class="mt-4 alert alert-danger" role="alert">
                                    {{feedback}}
                                </div>
                    </div>
                        
                </div>
              </div>
        </div>
    </div>
</div>